<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-3 mt-3">
                <div class="card  border-info text-info mb-3">
                    <div class="card-header row">
                        <div class="col-sm-3">
                            <img class="card-img-top" src="/<%= worker.imgUrl %>" alt="<%= worker.name %>">
                        </div>
                        <div class="col-sm-9">
                            <h2><%= worker.name %> </h2>
                            <p><i class="fa fa-id-card" aria-hidden="true"></i> Worker Id: <%= worker._id %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('../includes/end.ejs') %>